*{
    margin:0px;
    padding:0px;
    box-sizing:border-box ;
}
h1{
    margin: 10px 0px;
}
iframe{
    height: 300px;
    width : 300px ;
    border-radius: 150px;
    margin: 20px;
}
.Section{
    padding-left: 30px;
    padding-top: 10px;
}
ul{
    padding-left: 50px;
    padding-top: 5px;
}
.Section div h3 {
    margin-top: 10px;
    margin-bottom: 15px;
}